html,
body,
div,
img,
p,
div,
input[type="text"],
i {
  margin: 0;
  padding: 0;
}

.bar-container {
  padding-bottom: 7px;
  margin-bottom: 20px;
  width: 100%;
  padding: 0 10px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  .bar-logo {
    img {
      height: 40px;
    }
  }
  .bar-content {
    display: flex;
    // justify-content: center;
    align-items: center;
    .bar-item {
      margin: 0 7px;
      color: #213549;
    }
  }
}
